<h1> I Ching - chaos meditation </h1>

This project is intended to illustrate a creative process,
 to challenge assumptions and provide a teachable moment.

<h2> Greetings. it is <%= Time.now %> </h2>


<form id="castblock" style="font-weight: bold" action="/cast/">
  Think and ask
  <input name="question" id="question" type=text> </input>
  <button type="submit">Submit</button>
  </form>
</form>
<br/>
<br/>
<div style="display: none">
  <a rel="me" href="https://ruby.social/@aadriasola">Mastodon</a>
</div>
