<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
  <style> body {
      font-family: monospace
  }</style>
  <meta name="I-Ching" content="programmed by: Alfonso Adriasola">
  <meta name="version" content="<%=`git rev-parse HEAD 2>/dev/null | cut -c 1-7`.chomp %>">
  <title>I-Ching : Method of Sixteen</title>
  <meta name="version" content="<%= ENV['SOURCE_VERSION']  %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= yield %>
</body>
</html>
